html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 0 0;
  text-align: center;
}

.genInputs {
  margin: 20px 0 0 0;
  /* width: 90%; */
}

.inputColor {
  background-color: #d5ebff;
}

.generalContainer {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
  flex-flow: row wrap;
}

.d-grid {
  margin: 20px 0 0 0;
}

.warningPtag {
  color: red;
  font-weight: bolder;
  text-align: center;
}
form {
  width: 90%;
  padding: 0 0 200px 0;
}

#allClientPayDiv {
  display: flex;
  color: green;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 0 0 10px 10px;
}

.accHeader {
  display: flex;
  font-weight: bolder;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 0 0;
}

.accHeaderInner {
  display: flex;
  font-weight: bolder;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 0 0;
  align-items: center;
  gap: 10px;
}

.accHeader2 {
  /* border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200); */
}

.accHeaderRight {
  display: flex;
  justify-content: right;

  align-items: center;
}

.hrsDisplayRow {
  display: flex;
  align-items: center;
  border: none;
}

.hrsDisplayRow td {
  flex: 1;
  border-left: none;
  border-color: lightgray;
}
.hrsDisplayRow td:first-child {
  border-left: none;
}
.hrsDisplayRow td:last-child {
  border-right: none;
}

.leftHalfHeader {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}
.rightHalfHeader {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.hourlynPayDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleHeaders {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarStyle {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

.bg-body-tertiary {
  border-radius: 10px 10px 0 0;
  width: 90%;
  text-align: center;
  border-top: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  border-left: 1px solid rgb(230, 230, 230);
}

.navItemLinks {
  width: 100%;
  padding: 10px 0 10px 0;
  text-decoration: none;
  border-bottom: 1px solid rgb(201, 201, 201);
  font-weight: bolder;
  color: black;
}

button.accordion-button {
  background-color: rgb(233, 233, 233);
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.newClientAdded {
  text-align: center;
}

#iconPadding {
  padding: 0 10px;
}

i {
  padding: 0 10px;
}

.hoursBulk {
  border: 1px solid rgb(90, 90, 90);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
