html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* background-color: black; */
}
::-webkit-scrollbar {
  display: none;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 0 0;
  text-align: center;
}
.genInputs {
  margin: 20px 0 0 0;
  /* width: 90%; */
}

.inputColor {
  background-color: #d5ebff;
}

.generalContainer {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
  flex-flow: row wrap;
  /* width:90%; */
}

.d-grid {
  margin: 20px 0 0 0;
}

.warningPtag {
  color: red;
  font-weight: bolder;
  text-align: center;
}
form {
  width: 90%;
  padding: 0 0 200px 0;
}

#allClientPayDiv {
  display: flex;
  color: green;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 0 0 10px 10px;
}

.accHeader {
  display: flex;
  font-weight: bolder;
  justify-content: space-between;
}

.hrsDisplayRow {
  display: flex;
  align-items: center;
}

.hrsDisplayRow td {
  flex: 1;
}

.hourlynPayDiv {
  display: flex;
  justify-content: space-between;
}

.titleHeaders {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 90%;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navPadding {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.navPadding NavLink {
  flex: 1;
}

.navPadding Button {
  /* color: black; */
  height:110px;
}
