html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  background-color: black;
  border-radius: 10px;
  width: 33%;
  height: 5vh;
  font-weight: bolder;
  color: white;
  font-size: 1.9vh;
  cursor: pointer;
}

.Header {
  background-color: antiquewhite;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
}

#headContent {
  height: 20vh;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  padding: 0;
  margin: 0;
}

.Header h1 {
  margin: 10px 0 0 0;
}

.mainDisplay {
  background-color: #ffdab9;
  height: 80vh;
}

.mainContent {
  height: 80vh;
  padding: 20px;
  box-sizing: border-box;
}

#headContent button {
  background-color: burlywood;
  border-radius: 10px;
  border: 2px solid #ffdab9;
  width: 33%;
  height: 5vh;
  font-weight: bolder;
  color: white;
  font-size: 1.9vh;
  cursor: pointer;
}

.hoursInputs {
  width: 100%;
  height: 5vh;
  margin: 10px 0;
  border-radius: 25px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

#headContent #loginBtn {
  background-color: burlywood;
  border-radius: 10px;
  border: 2px solid #ffdab9;
  width: 100%;
  height: 5vh;
  font-weight: bolder;
  color: white;
  font-size: 1.9vh;
  cursor: pointer;
}

h1 {
  color: white;
  background-color: burlywood;
  border-radius: 10px;
  padding: 0 10px;
  text-align: center;
}

#headContent input {
  height: 4vh;
  border-radius: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  margin-bottom: 15px;
}
