html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  background-color: rgb(37, 37, 37);
}

.contentContainer * {
  margin: 10px 0 10px 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: bisque;
  border-radius: 10px;
}

.warningPtag {
  color: white;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  background-color: red;
  border-radius: 10px;
}


.active Button {
  background-color: orangered;
  color: white;
}

#navPadding {
  margin: 20px 0 0 0;
}

#navPadding Button {
  width: 25vw;
  height: 15vh;
}
