body {
  background-color:#282828;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

h1 {
  color: white;
}

input {
  border-radius: 10px;
  width: 30%;
  height: 40px;
  font-weight: bold;
  font-size: 22px;
  color: orange;
}

#loginBtn {
  border-radius: 10px;
  border: 0px;
  width: 30%;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
}

.fullWidth {
  height: 80px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
